
/* @media all and (max-width: 1038px) and (min-width: 520px), (min-width: 1151px) */

@media all and (max-width: 1037px) and (min-width: 768px) {
	html, body {
		margin: 0;
		padding: 0;
		background: #1a1a1a;
	}
}

@media all and (max-width: 1037px) and (min-width: 768px) {




}

